version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: realworld_drf_mysql
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "${DB_PORT}:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    networks:
      - realworld_drf_network

volumes:
  mysql_data:

networks:
  realworld_drf_network:
    driver: bridge
